parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    serial.device: COM1
    serial.baud_rate: 115200
    serial.parity: none
    serial.character_length: 8
    serial.stop_bits: 1
    serial.flow_control: "xon/xoff"

    costs.energy_t1: 0.2069
    costs.energy_t2: 0.2266
    costs.gas: 0.6609

    weather.unit: c
    weather.location: Amsterdam

    openweather_api_key: ~
    openweather_location: 'Amsterdam, nl'

    contract.delivery: false
    contract.price.power.high: 0.2266
    contract.price.power.low: 0.2069
    contract.price.power.single: ~
    contract.price.gas: 0.6609
    contract.single.rate: false
    contract.highlow.region: 1

    graph_options.gas.show_weather: true
    graph_options.power.show_baseload: true
