{% extends '::base.html.twig' %}
{% block header '<h1>Channel Four</h1>' %}
{% block content %}
    {% if installed %}
    <img class="img-responsive img-refresh" src="graph/channel_four_daily.png"/>
    <br/>
    <img class="img-responsive img-refresh" src="graph/channel_four_weekly.png"/>
    <br/>
    <img class="img-responsive img-refresh" src="graph/channel_four_monthly.png"/>
    <br/>
    <img class="img-responsive img-refresh" src="graph/channel_four_yearly.png"/>
    {% else %}
        Not installed
    {% endif %}
{% endblock %}
