{% extends '::base.html.twig' %}
{% block header %}
    <h1>{{ 'channel_one'|trans }}</h1>
{% endblock %}
{% block content %}
    {% if installed %}
<img class="img-responsive img-refresh" src="/graph/channel_one_daily.png"/>
    <br/>
<img class="img-responsive img-refresh" src="/graph/channel_one_weekly.png"/>
    <br/>
<img class="img-responsive img-refresh" src="/graph/channel_one_monthly.png"/>
    <br/>
<img class="img-responsive img-refresh" src="/graph/channel_one_yearly.png"/>
    {% else %}
        Not installed
    {% endif %}
{% endblock %}
