{% extends '::base.html.twig' %}
{% block header %}
<h1>{{ 'current_power'|trans }}</h1>
{% endblock %}
{% block content %}
<img class="img-responsive img-refresh" src="/graph/current_power_hourly.png" id="current_power"/>
<br/>
<img class="img-responsive img-refresh" src="/graph/current_power_daily.png"/>
    <br/>
<img class="img-responsive img-refresh" src="/graph/current_power_weekly.png"/>
    <br/>
<img class="img-responsive img-refresh" src="/graph/current_power_monthly.png"/>
    <br/>
<img class="img-responsive img-refresh" src="/graph/current_power_yearly.png"/>
{% endblock %}
